# Part B: Load SQL Results into pandas

## Step 3: Load one query result

In [3]:
# Import Libraries
import pandas as pd
import sqlalchemy

# Access the project database
engine = sqlalchemy.create_engine("sqlite:///project.db")

# Access the SQL query file and create a dataframe of the table created by Query 1
with open("week6_multi_table_queries.sql", "r") as f:
    queries = f.read().split(";")

queries = [q.strip() for q in queries if q.strip()]

df = pd.read_sql_query(queries[0], con=engine)

In [10]:
# Export dataframe to .csv
df.to_csv("query1_result", index=False)

In [ ]:
# Import the dataframe
df = pd.read_csv("query1_result")

In [7]:
# Inspect first 5 rows
df.head()

         date  aqi parameter_name state_name
0  2025-01-05    8          PM2.5    Alabama
1  2025-01-04   18          PM2.5    Alabama
2  2025-01-01   20          PM2.5    Alabama
3  2025-01-02   25          PM2.5    Alabama
4  2025-01-03   30          PM2.5    Alabama

In [8]:
# Display column names, non-null count, and data data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            15 non-null     object
 1   aqi             15 non-null     int64
 2   parameter_name  15 non-null     object
 3   state_name      15 non-null     object
dtypes: int64(1), object(3)
memory usage: 612.0+ bytes

In [9]:
# Display summary statistics of numerical columns
df.describe()

             aqi
count  15.000000
mean   25.800000
std     9.994284
min     8.000000
25%    19.000000
50%    26.000000
75%    31.000000
max    45.000000