In [1]:
import pandas as pd

In [2]:
import sqlite3

In [3]:
con = sqlite3.connect("project.db")

In [4]:
cur = con.cursor()

In [5]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()
print(tables)

[('State',), ('County',), ('Site',), ('Pollutant',), ('AQI_Record',)]

In [6]:
for table in ["State", "County", "Site", "Pollutant", "AQI_Record"]:
    print(f"\nTable: {table}")
    cur.execute(f"PRAGMA table_info({table});")
    for row in cur.fetchall():
        print(row)

Table: State
(0, 'state_code', 'TEXT', 0, None, 1)
(1, 'state_name', 'TEXT', 1, None, 0)

Table: County
(0, 'state_code', 'TEXT', 1, None, 2)
(1, 'county_code', 'TEXT', 1, None, 1)
(2, 'county_name', 'TEXT', 1, None, 0)

Table: Site
(0, 'state_code', 'TEXT', 1, None, 2)
(1, 'county_code', 'TEXT', 1, None, 1)
(2, 'site_code', 'TEXT', 1, None, 0)

Table: Pollutant
(0, 'parameter_name', 'TEXT', 1, None, 0)

Table: AQI_Record
(0, 'state_code', 'TEXT', 1, None, 1)
(1, 'county_code', 'TEXT', 1, None, 2)
(2, 'date', 'TEXT', 1, None, 3)
(3, 'aqi', 'INTEGER', 1, None, 0)
(4, 'category', 'TEXT', 1, None, 0)
(5, 'parameter_name', 'TEXT', 1, None, 0)
(6, 'site_code', 'TEXT', 1, None, 0)

## Look at foreign key relationships

In [7]:
cur.execute("PRAGMA foreign_key_list(AQI_Record);")
print(cur.fetchall())

[(0, 0, 'Site', 'site_code', 'site_code', 'NO ACTION', 'NO ACTION', 'NONE'), (1, 0, 'Pollutant', 'parameter_name', 'parameter_name', 'NO ACTION', 'NO ACTION', 'NONE'), (2, 0, 'County', 'county_code', 'county_code', 'NO ACTION', 'NO ACTION', 'NONE'), (3, 0, 'State', 'state_code', 'state_code', 'NO ACTION', 'NO ACTION', 'NONE')]

## Insert Data

In [8]:
cur.executemany(
    "INSERT INTO State VALUES (?, ?)",
    [
        ("1", "Alabama"),
        ("2", "Alaska"),
        ("4", "Arizona"),
        ("5", "Arkansas"),
        ("6", "California"),

    ]
)

IntegrityError: UNIQUE constraint failed: State.state_code

In [ ]:
cur.executemany(
    "INSERT INTO County VALUES (?, ?, ?)",
    [
        ("1", "3", "Baldwin"),
        ("2", "20", "Anchorage "),
        ("4", "1", "Apache"),
        ("5", "19", "Clark"),
        ("6", "7", "Butte"),

    ]
)

In [ ]:
cur.executemany(
    "INSERT INTO Site VALUES (?, ?, ?)",
    [
        ("1", "3", "01-003-0010"),
        ("2", "20", "02-020-0045"),
        ("4", "1", "04-001-1003"),
        ("5", "19", "05-019-9991"),
        ("6", "7", "06-007-0008"),

    ]
)

In [ ]:
cur.executemany(
    "INSERT INTO AQI_Record VALUES (?, ?, ?, ?, ?, ?, ?)",
    [
        ("1", "3", "2025-01-01", 20, "Good", "PM2.5", "01-003-0010"),
        ("2", "20", "2025-01-01", 88, "Moderate", "PM2.5", "02-020-0045"),
        ("4", "1", "2025-01-01", 22, "Good", "PM10", "04-001-1003"),
        ("5", "19", "2025-01-01", 26, "Good", "Ozone", "05-019-9991"),
        ("6", "7", "2025-01-01", 71, "Moderate", "PM2.5", "06-007-0008"),

    ]
)

In [ ]:
cur.executemany(
    "INSERT INTO Pollutant VALUES (?)",
    [
        ("PM2.5",),
        ("PM10",),
        ("Ozone",),
    ]
)

In [9]:
con.commit()

## Checking the Tables

In [10]:
cur.execute("SELECT * FROM AQI_Record;")
rows = cur.fetchall()
for row in rows:
    print(row)

('1', '3', '2025-01-01', 20, 'Good', 'PM2.5', '01-003-0010')
('2', '20', '2025-01-01', 88, 'Moderate', 'PM2.5', '02-020-0045')
('4', '1', '2025-01-01', 22, 'Good', 'PM10', '04-001-1003')
('5', '19', '2025-01-01', 26, 'Good', 'Ozone', '05-019-9991')
('6', '7', '2025-01-01', 71, 'Moderate', 'PM2.5', '06-007-0008')

In [12]:
cur.execute("SELECT * FROM AQI_Record;")
print(cur.fetchall())

[('1', '3', '2025-01-01', 20, 'Good', 'PM2.5', '01-003-0010'), ('2', '20', '2025-01-01', 88, 'Moderate', 'PM2.5', '02-020-0045'), ('4', '1', '2025-01-01', 22, 'Good', 'PM10', '04-001-1003'), ('5', '19', '2025-01-01', 26, 'Good', 'Ozone', '05-019-9991'), ('6', '7', '2025-01-01', 71, 'Moderate', 'PM2.5', '06-007-0008')]

In [13]:
df = pd.read_sql_query("SELECT * FROM AQI_Record;", con)
df

,state_code,county_code,date,aqi,category,parameter_name,site_code
0,1,3,2025-01-01,20,Good,PM2.5,01-003-0010
1,2,20,2025-01-01,88,Moderate,PM2.5,02-020-0045
2,4,1,2025-01-01,22,Good,PM10,04-001-1003
3,5,19,2025-01-01,26,Good,Ozone,05-019-9991
4,6,7,2025-01-01,71,Moderate,PM2.5,06-007-0008

In [14]:
con.close()